RewriteEngine on
RewriteCond %{HTTP_HOST} ^test.loudesport.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.test.loudesport.eu$
RewriteCond %{REQUEST_URI} !public/assets/
RewriteRule (.*) /public/assets/ [L]