/**
    Root stylesheet
    >> Define style variables
 */

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/MadeTommy_Bold.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/MadeTommy_Light.otf") format("opentype");
}

@font-face {
    font-family: Montserrat-Semi-Bold;
    src: url("../fonts/MadeTommy_ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Stretch;
    src: url("../fonts/Stretch.otf") format("opentype");
}

:root {
    /* colors */
    --main-red-color: #f8172c;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --black-transparent-color: rgba(0,0,0,.8);
    --white-transparent-color: rgba(255, 255, 255, .3);
    --red-transparent-color: rgba(248, 23, 44, .7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
