/**
    BODY
 */

.body {
    background-image: url("../img/background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/**
    HEADER
 */

.header {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
    position: relative;
}

.header .header_menu_icon {
    font-size: 24pt;
    margin-right: 1.5rem;
    color: var(--main-red-color);
}

.header .header_brand {
    font-family: "Stretch", sans-serif;
    color: var(--main-red-color);
    text-transform: uppercase;
    font-size: 28pt;
}

/**
    NAV
 */

.nav {
    padding: 5rem 2rem 1rem 2rem;
    position: absolute;
    top: 0;
    left: -30vw;
    background-color: rgba(255, 255, 255, .3);
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    transition: all .7s ease-in-out;
}

.nav .nav_list {
    list-style: none;
}

.nav .nav_list--sub {
    border-left: 1px solid var(--main-red-color);
}

.nav .nav_list_item {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    position: relative;
    left: 0;
    width: fit-content;
    transition: all .5s ease-in-out;
}

.nav .nav_list_item:hover {
    left: 15px;
    transition: all .5s ease-in-out;
}

.nav .nav_link {
    text-decoration: none;
    color: var(--main-red-color);
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}


.nav .nav_link--main {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16pt;
}

.nav .nav_link--sub {
    font-family: Montserrat, sans-serif;
    font-size: 10pt;
    margin-left: 1rem;
}

.nav .nav-link--sub:hover {
    font-weight: bold;
}