@import "_root.css";

    header {
        padding: 1em 4em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--main-red-color);
    }

    #header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
    }

    #header-logo img {
        height: 2.5em;
        width: auto;
        margin-right: 1em;
    }

    #header-logo h1 {
        font-family: var(--header-title-font);
        font-size: 35px;
        text-transform: uppercase;
        color: var(--white-color);
    }

    #mobile-dropdown-link {
        font-size: 20px;
        color: var(--white-color);
        display: none;
    }

    #mobile-nav {
        display: none;
    }

    nav {
        list-style-type: none;
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header a, nav a, nav p {
        color: var(--white-color);
        text-decoration: none;
        font-family: var(--nav-link-font);
        font-size: 16px;
    }

    header a:hover {
        color: var(--main-red-color);
    }

    nav ul:not(.dropdown-menu) {
        display: flex;
        flex-direction: row;
    }

    nav li {
        padding: .3em .5em;
        list-style-type: none;
    }

    nav li:not(.dropdown-item) {
        margin-right: 2em;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: var(--black-color);
        width: fit-content;
        list-style-type: none;
        margin-top: .2em;
        line-height: 1.5em;
        padding: .3em 1em;
        text-align: center;
        transform: translateX(-.7em);
    }

    .nav-item {
        color: var(--black-color);
        text-decoration: none;
    }