@import '_root.css';

@media (min-width: 320px) and (max-width: 480px) {

    header {
        padding: 1em 1em;
    }

    #header-logo {
        width: fit-content;
    }

    #header-logo img {
        height: 25px;
        width: auto;
    }

    #header-logo h1 {
        font-size: 25px;
    }

    #shop {
        display: none;
    }

    #login {
        display: none;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        flex-direction: column;
        padding: 1em 0;
    }

    nav {
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        background-color: var(--black-color);
    }

    nav li {
        text-align: center;
    }

    .nav-item {
        color: var(--white-color);
    }

    nav li {
        margin-right: 0;
    }

    #mobile-dropdown-link {
        display: unset;
        color: var(--main-red-color);
        font-size: 20px;
    }

    body .container {
        padding: 2em 2em;
    }

    .container h1 {
        font-size: 20px;
        text-align: center;
    }

    .container h2 {
        font-size: 16px;
    }

    .container p {
        font-size: 12px;
    }

    .members {
        flex-direction: column;
        align-items: center;
    }

    .member-full-name {
        font-size: 8px;
    }

    .last-news {
        width: 100%;
    }

    .last-news img {
        display: none;
    }

    .last-news .news-infos {
        position: relative;
    }

    #last-news-flex {
        flex-direction: column;
    }

    .last-news-link {
        width: 100%;
    }

    .last-news .badges, .news .badges {
        display: none;
    }

    .column {
        width: 100%;
        margin-top: 2em;
    }

    .news-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news, .event {
        max-width: 100%;
        min-width: 100%;
    }

    #social-flex, .events-flex {
        flex-direction: column;
        align-items: center;
    }

    #email {
        display: none;
    }

    .news-content-photo {
        display: none;
    }

    .news-content div {
        margin-top: 1em;
    }

    .return {
        display: none;
    }

    .link-button {
        font-size: 14px;
    }

    .news {
        height: 10em;
    }
}