@import '_root.css';

@media (min-width: 320px) and (max-width: 480px) {

    header {
        padding: 1em 1em;
    }

    #header-logo {
        width: fit-content;
    }

    #header-logo img {
        height: 25px;
        width: auto;
    }

    #header-logo h1 {
        font-size: 25px;
    }

    #shop {
        display: none;
    }

    #login {
        display: none;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        flex-direction: column;
    }

    nav {
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        background-color: var(--black-transparent-color);
    }

    nav li {
        text-align: center;
    }

    .nav-item {
        color: var(--white-color);
    }

    nav li {
        margin-right: 0;
    }
}