/**
    BODY
 */

.body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/**
    GENERIC CLASSES
 */
.container {
    padding: 3rem 8rem;
}

.title {
    font-family: Stretch, sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.title--page {
    font-family: Stretch, sans-serif;
    font-size: 36pt;
    text-transform: uppercase;
    color: var(--main-red-color);
}

.text_body {
    font-family: Montserrat, sans-serif;
    font-size: 11pt;
    text-align: justify;
}

/**
    HEADER
 */

.header {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    position: relative;
}

.header .header_menu_icon {
    font-size: 24pt;
    margin-right: 1.5rem;
    color: var(--main-red-color);
    transition: color .5s ease-in-out;
}

.header .header_brand {
    font-family: "Stretch", sans-serif;
    color: var(--main-red-color);
    text-transform: uppercase;
    font-size: 28pt;
    text-decoration: none;
    transition: color .5s ease-in-out;
}

/**
    NAV
 */

.nav {
    padding: 5rem 2rem 1rem 2rem;
    position: fixed;
    top: 0;
    left: -30vw;
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    transition: all .7s ease-in-out;
    background-color: var(--main-red-color);
}

.nav_list, .nav_list--sub {
    list-style: none;
    line-height: 2rem;
}

.nav_list--sub {
    border-left: 1px solid white;
    padding-left: .5rem;
}

.nav_item--main {
    margin-bottom: 1rem;
}

.nav_link {
    font-family: Stretch, sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14pt;
}

.nav_link--sub {
    font-family: Montserrat, sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12pt;
    padding: 0 .5rem;
    position: relative;
    left: 0;
    transition: left .5s ease-in-out;
}

.nav_link--sub:hover {
    background-color: white;
    color: var(--main-red-color);
    left: 15px;
    transition: left .5s ease-in-out;
}

.nav_infos {
    display: flex;
    align-items: center;
}

.nav_info {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 10pt;
    text-decoration: none;
    border-right: 1px solid white;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav_info:first-child {
    padding-left: 0;
}

.nav_info:last-child {
    border: 0;
}

.nav_info--link:hover {
    text-decoration: underline;
}

.nav_info_img {
    height: 10pt;
    width: auto;
    padding: 0 1rem;
    border-right: 1px solid white;
}

/**
    PAGE_TITLE
 */
.page_title {
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/background/background.jpg");
    background-size: cover;
}

/**
    HISTORY
 */
.history {
    background-color: var(--main-red-color);
    color: white;
}

/**
    TIMELINE
 */
.timeline {
    color: var(--main-red-color);
}

.events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.event {
    width: 30%;
    text-align: center;
    padding: 4rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.event_date {
    font-family: Montserrat, sans-serif;
}

.event_name {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 20pt;
}

/**
    PHOTOS
 */
.photos {
    color: var(--main-red-color);
}

/**
    STAFF
 */
.directing_team {
    background-color: var(--main-red-color);
    color: white;
}

.staff {
    color: var(--main-red-color);
}

.section_name {
    font-family: Montserrat, sans-serif;
    margin-bottom: 2rem;
    background-color: var(--main-red-color);
    width: fit-content;
    color: white;
    padding: .5rem 2rem;
}

.members, .sponsors {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 5rem;
    margin-bottom: 3rem;
}

.members:last-child, .sponsors:last-child {
    margin-bottom: 0;
}

.member, .sponsor {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 1.5rem 3rem 0;
    border-top: 3px solid var(--main-red-color);
}

.member:hover, .sponsor:hover {
    transform: scale(1.05);
    transition: .3s all ease-in-out;
}

.member_img, .sponsor_img {
    height: 10rem;
    width: auto;
}

.member_name, .sponsor_name {
    font-family: Montserrat-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 20pt;
}

.member_role {
    font-family: Montserrat, sans-serif;
    background-color: var(--main-red-color);
    color: white;
    position: absolute;
    top: -20px;
    right: -15px;
    padding: .5rem 2rem;
    border-radius: 15px;
    border-left: 3px solid white;
}

.member_socials {
    margin-top: .3rem;
}

.member_flag {
    height: 3rem;
}

.social_link {
    color: var(--main-red-color);
    text-decoration: none;
    padding: 0 .3rem;
    font-size: 14pt;
}

/**
    ORGANIZATION
 */
.organization {
    color: var(--main-red-color);
}

/**
    TEAM
 */
.team_logo {
    height: 10rem;
    width: auto;
}

.team_presentation {
    background-color: var(--main-red-color);
    color: white;
}

.team_members {
    color: var(--main-red-color);
}

/**
    SPONSORS
 */
.sponsor_presentation {
    background-color: var(--main-red-color);
    color: white;
}

.buttons {
    margin-top: 2rem;
}

.button {
    color: white;
    font-family: Montserrat-Bold, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    padding: .5rem 2rem;
    margin-right: 1rem;
    border-radius: 15px;
}

.button>.fas {
    margin-right: .5rem;
}

.button:hover {
    background-color: white;
    color: var(--main-red-color);
}

.our_sponsors {
    color: var(--main-red-color);
}

.sponsors {
    display: flex;
    align-items: center;
    width: 100%;
}

.sponsor-link {
    color: var(--main-red-color);
    text-decoration: none;
}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
}

.sponsor_img {
    height: 7rem;
}

.sponsor_name {
    margin-top: 1rem;
}

/**
    LEGAL
 */
.legal_msg {
    font-family: Montserrat, sans-serif;
    font-size: 8pt;
    margin-bottom: 1rem;
}

.legal strong {
    color: var(--main-red-color);
    font-family: Montserrat-Bold, sans-serif;
    font-size: 14pt;
}

.legal blockquote {
    border-left: 3px solid var(--main-red-color);
    padding-left: 1rem;
}

/**
    FOOTER
 */
.footer {
    text-align: center;
    padding: .5rem 0;
}

.footer_msg {
    font-family: Montserrat, sans-serif;
    color: var(--main-red-color);
    font-size: 8pt;
}

.footer_link {
    text-decoration: underline;
    color: var(--main-red-color);
}