{% extends 'base.html.twig' %}

{% block description %}Retrouvez toutes nos informations de contact ainsi que nos liens vers nos réseaux sociaux{% endblock %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <section class="page_title">
        <h2 class="title--page">Nous contacter</h2>
    </section>
    <section class="container container--red">
        <h2 class="title">Vous êtes un joueur ou une organisation</h2>
        <p class="text_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae dicta eum fuga maiores minus unde. Accusamus dolorem eum fuga ipsam minus non possimus quam quo, quos similique sint, suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores dignissimos necessitatibus nostrum quidem, tempore temporibus velit voluptatibus! Earum perspiciatis, qui. Dignissimos dolore, neque nobis obcaecati quae similique vel vitae.</p>
        <div class="buttons">
            <a href="https://twitter.com/EsportLoud" class="button">
                <i class="fab fa-twitter"></i>
                Twitter
            </a>
            <a href="https://discord.gg/7R47QUaC4S" class="button">
                <i class="fab fa-discord"></i>
                Discord
            </a>
        </div>
    </section>
    <section class="container">
        <h2 class="title">Vous êtes une marque</h2>
        <p class="text_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa cumque dolor eligendi excepturi expedita harum nostrum odio officiis optio, quaerat quasi quidem recusandae reprehenderit sed soluta, temporibus veniam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium earum eum exercitationem expedita, explicabo fugiat illum iure minima nostrum officia optio quae qui rem saepe ut veritatis voluptas voluptatum!</p>
        <div class="buttons">
            <a href="{{ path('sponsor') }}" class="button button--red">
                <i class="fas fa-file-alt"></i>
                Page sponsors
            </a>
        </div>
    </section>
{% endblock %}
