{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="container">
        <h1>Noous contacter</h1>
        <p>Nous sommes présents sur les <span>réseaux sociaux</span> ! Venez nous suivre sur tous nos médias pour ne pas rater nos actualités et annonces.</p>
        <div id="social-flex">
            <div class="social">
                <div class="social-infos">
                    <h2><i class="fab fa-twitch"></i> Twitter</h2>
                    <a href="https://twitter.com/EsportLoud" class="link-button">Visiter <i class="fas fa-chevron-right"></i></a>
                </div>
                <p>@EsportLoud</p>
            </div>
            <div class="social">
                <div class="social-infos">
                    <h2><i class="fab fa-discord"></i> Discord</h2>
                    <a href="https://discord.gg/nTZWHn55fF" class="link-button">Rejoindre <i class="fas fa-chevron-right"></i></a>
                </div>
                <p>Loud Community</p>
            </div>
            <div class="social">
                <div class="social-infos">
                    <h2><i class="fab fa-tiktok"></i> Tiktok</h2>
                    <a href="https://www.tiktok.com/@esportloud" class="link-button">Visiter <i class="fas fa-chevron-right"></i></a>
                </div>
                <p>@esportloud</p>
            </div>
            <div class="social" id="email">
                <div class="social-infos">
                    <h2><i class="fas fa-envelope"></i> E-mail</h2>
                </div>
                <div class="social-infos">
                    <p>Pour toute prise de <span>contact</span> non spécifique, notre adresse <span class="social-span">contact</span> </p>
                    <a href="mailto:contact@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="social-infos">
                    <p>Pour toute demande concernant <span>nos sections</span> et <span>recrutements</span>, notre adresse <span class="social-span">esport</span></p>
                    <a href="mailto:" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="social-infos">
                    <p>Pour toute demande concernant <span>les partenariats</span> et <span>sponsors</span>, notre adresse <span class="social-span">partenariats</span></p>
                    <a href="mailto:partnership@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="social-infos">
                    <p>Pour toute demande concernant <span>la communication</span> de l'association, notre adresse <span class="social-span">communication</span></p>
                    <a href="mailto:benjamin.pelaudeix@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
