{% extends 'base.html.twig' %}

{% block description %}Découvrez l'histoire de notre association, ses motivations mais aussi les personnes qui oeuvrent chaque jour pour la réussite de nos joueurs{% endblock %}

{% block title %}Notre histoire{% endblock %}

{% block body %}
    <section class="page_title">
        <h2 class="title--page">Histoire</h2>
    </section>
    <section class="container history">
        <h2 class="title">Nootre histoire</h2>
        <article class="text_body">
            {{ history.content | raw }}
        </article>
    </section>
    <section class="container timeline">
        <h2 class="title">Nootre parcours</h2>
        <div class="events">
            <article class="event">
                <p class="event_date">2018</p>
                <h3 class="event_name">Création</h3>
            </article>
            <article class="event">
                <p class="event_date">2020</p>
                <h3 class="event_name">Premier Master Tour</h3>
            </article>
            <article class="event">
                <p class="event_date">2021</p>
                <h3 class="event_name">TMGL:C</h3>
            </article>
        </div>
    </section>
    <section class="container photos">
        <h2 class="title">Nootre médiathèque</h2>
    </section>
{% endblock %}
